@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  @apply px-4;
  @apply mx-auto;
}

/* recipe */
.recipe h3 {
  @apply text-xl;
  @apply font-normal;
  @apply dark:text-white;
  @apply my-2;
}

p{
  @apply text-base;
  @apply mb-1;
  @apply dark:text-white;
}

/* css */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #fff;
}
